<style>
  .content{
    width: 100vw;
    height: 100vh;
  }
  .container{
    margin: 0;
  }
</style>

<div class="dialog bg-warning">
  <div class="container">
    <div class="content row justify-content-center align-items-center flex-column">
      <h1> <%= t("notice.500_title") %> </h1>
      <p> <%= t("notice.500_content") %> </p>
    </div>
  </div>
</div>