<div class="nested-fields row">
  <div class="col-10">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: t("missions.tag_name") %>
  </div>
  <div class="col-10">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: t("missions.tag_name") %>
  </div>
</div>